.margin{width:1200px;margin:0 auto;}
body{background:#eee;}
header{height:130px;}
header .l{float:left;}
header .l img{float:left;margin-top:43px;}
header .l p{float:left;font-size: 18px;line-height: 130px;color:#8c8c8c;margin-left:12px;}
header .r{float:right;font-size: 14px;color: #8c8c8c;line-height: 130px;}
header .r a{color:#f42424;}


#c{min-height: 565px;margin-bottom: 30px;overflow: hidden;padding-bottom: 20px;}

#c .l{width:600px;height:687px;float:left;text-align: center;background:#fff;}
#c .l a{display:table-cell;width:600px;height:565px;vertical-align: middle;}
#c .l a img{display:inline-block;vertical-align: middle;border:0;}
#c .r{width:600px;height:649px;float:left;padding-top:38px;background:#fff;}

footer{background:#eee;height:163px;text-align: center;padding-top: 30px;}
footer .t{font:15px/30px "";}
footer .t a{color:rgba(85,85,85,.5);}
footer .t a:hover{color:#f42424;}
footer .c{font:15px/30px "";}
footer .c a{color:rgba(85,85,85,.5);}
footer .c a:hover{color:#f42424;}
footer .c span{margin:0 5px;}
footer p{font:15px/30px "";color:rgba(85,85,85,.5);}
footer p a:hover{color:#f42424;}
