@charset "utf-8";
/* CSS Document */
.margin{width:1360px;margin:0 auto;}
#tophead{background:#eee;height:34px;border-top:1px solid #e1e1e2;}
#tophead .l{float: left;}
#tophead .l a{font:12px/30px "";color:#8c8c8c;margin-right:13px;}
#tophead .l a:hover{color:#f42828;}
#tophead .r{float:right;font:12px/30px "";}
#tophead .r a{color:#8c8c8c;}
#tophead .r a:hover{color:#f42828;}
#tophead .r span{margin:0 6px 0 13px;}
#tophead .r img{margin-left:7px;}

header{height:100px;padding-bottom: 10px;}
header .l{float:left;}
header .l img{padding-top:27px;}
header .l .te{padding:22px;margin-left:30px;}
header .c{float:left;margin:30px 0 0 78px;}
header .c #txt{float:left;width:446px;height:34px;border:1px solid #f42424;font:12px/34px "";color:#999;text-indent:9px;border-right:none;}
header .c .btn1{width:81px;height:38px;background:#f42424;color:#fff;border:none;margin-right: 9px;}
header .c .btn2{width:81px;height:38px;background:#b31919;color:#fff;border:none;}
header .c a{font:12px/32px "";color:#999;margin-right:6px;}
header .c a:hover{color:#F42828;}
header .r{float:right;margin-top:30px;border:1px solid #d2d2d2;height:37px;padding:0 47px 0 34px;}
header .r a{line-height: 37px;color:#f42424;}
#nav{height:40px;position:relative;z-index: 9;backgr}
#nav .l{float:left;width:232px;height:40px;position:relative;}
#nav .l .t1{background:#F42424;line-height: 40px;text-align: center;}
#nav .l .t1 a{font-size: 16px;font-weight: 700;color:#fff;display:block;}
#nav .r{height:40px;float:left;line-height: 40px;}
#nav .r a{line-height: 40px;font-size:16px;color:#555;margin-left:38px;}
#nav .r a:hover{color:#e23435;}
#nav .r .te{color:#e23435;}
#nav .l .t2{height:500px;z-index: 30;position:relative;background:rgba(0,0,0,0.6);}
#nav .l .t2 .item{cursor: pointer;height:14.29%}
#nav .l .t2 .item:hover{background:#000;}
#nav .l .t2 .item .item-content{padding:14.5px 16px;float:left;width:200px;}
#nav .l .t2 .item .item-content .title{float:left;margin-left: 10px;width:173px;}
#nav .l .t2 .item .item-content .title strong{display:block;font-weight: normal;width: 100%;
overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#nav .l .t2 .item .item-content .title strong a{color:#fff;font-size: 14px;}
#nav .l .t2 .item .item-content .title strong:hover a{color:#E23435;}
#nav .l .t2 .item .item-content .title span{display: block;font-size: 0;width: 100%;
overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
#nav .l .t2 .item .item-content .title span a{color: #bfbfbf;margin-right: 10px;font-size: 14px;}
#nav .l .t2 .item .item-content .title span a:hover{color:#E23435;}
#nav .cate{position: absolute;top: 0;left: 232px;width: 966px;min-height: 498px;
border: 1px solid #fff;background-color: #fff;box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
transition: top .25s ease;}
#nav .cate .cate-l{padding:20px 20px 28px 18px;clear:both;}
#nav .cate .cate-l .left{float:left;width:704px;}
#nav .cate .cate-l .left .cate-d{margin-top: 20px;width:100%;}
#nav .cate .cate-l .left .cate-d .dl{padding-left: 80px;position:relative;}
#nav .cate .cate-l .left .cate-d .dl dt{overflow: hidden;position: absolute;color: #555;left: 0;
top: 13px;width: 70px;text-align: right;font-weight: 700;white-space: nowrap;text-overflow: ellipsis;}
#nav .cate .cate-l .left .cate-d .dl dd{padding: 8px 0;overflow: hidden;border-bottom: 1px dashed #d2d2d2;min-height: 28px;}
#nav .cate .cate-l .left .cate-d .dl a{float: left;margin: 8px 0;padding: 0 10px;height: 12px;
border-left: 1px solid #e0e0e0;line-height: 12px;white-space: nowrap;color:#555;}
.categorys-items-layer {display: none;position: absolute;top: 0;left: 232px;width: 966px;
min-height: 498px;
border: 1px solid #fff;
background-color: #fff;
box-shadow: 0px 0px 3px 2px rgba(0,0,0,.1);
-webkit-transition: top .25s ease;
transition: top .25s ease;
}

.clear, .clearfix {
    clear: both;
}
.cate-layer-left {
    float: left;
    width: 704px;
}
.cate-layer-rihgt {
    float: right;
    width: 200px;
}
.cate_detail {
    margin-top: 20px;
    width: 100%;
}
.cate_detail dl {
    padding-left: 80px;
    position: relative;
}
.cate_detail dt {
    overflow: hidden;
    position: absolute;
    color: #555;
    left: 0;
    top: 13px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cate_detail dd {
    padding: 8px 0;
    overflow: hidden;
    border-bottom: 1px dashed #d2d2d2;
    min-height: 28px;
}
.cate_detail dd a {
    float: left;
    margin: 8px 0;
    padding: 0 10px;
    height: 12px;
    border-left: 1px solid #e0e0e0;
    line-height: 12px;
    white-space: nowrap;
}
.categorys-tab-content .categorys-title {
    float: left;
    margin-left: 10px;
    width: 173px;
}

.cate-layer-con {
    padding: 20px 20px 28px 18px;
}
.footer-new {
    background-color: #eee;
    margin-top: 80px;
    overflow: hidden;
}
.footer-new-top {
    padding: 24px 0;
}
.footer-new-top .service-list {
    overflow: hidden;
    float: left;
}
.service-list .service-item {
    float: left;
    width: 170px;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    padding-right: 10px;
}
.service-list .service-item .f-icon {
    width: 32px;
    height: 32px;
    float: left;
}
.f-icon-qi {
    background-position: 0 0;
}
.f-icon {
    background: url(../images/footer_new_icon.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    display: inline-block;
}
em, i, u {
    font-style: normal;
}
.service-list .service-item span {
    float: left;
    font-size: 18px;
    color: #888888;
    margin-left: 12px;
}
.footer-new-top .contact {
    float: right;
}
.w1200 {
    width: 1360px;
}
.w {
    margin: 0 auto;
}
.contact .contact-item {
    float: left;
    height: 32px;
    line-height: 30px;
}
.contact .contact-item .f-icon-tel {
    width: 22px;
    height: 24px;
    float: left;
    margin-top: 5px;
}
.f-icon-tel {
    background-position: -3px -103px;
}
.f-icon {
    background: url(../images/footer_new_icon.png) no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    display: inline-block;
}
em, i, u {
    font-style: normal;
}
.contact .contact-item.contact-item-first span {
    width: 140px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact .contact-item span {
    float: left;
    color: #262626;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #555;
}
.contact .contact-item .f-icon-kefu {
    width: 27px;
    height: 24px;
    float: left;
    margin-top: 4px;
}.f-icon-kefu {
    background-position: -3px -138px;
}
.hide {
    display: none !important;
}
.footer-new-con, .footer-new-bot {
    background-color: #262626;
}
.w1200 {
    width: 1200px;
}
.w {
    margin: 0 auto;
}
.footer-new-con .fnc-warp {
    padding: 30px 0;
    width: 1360px;
    margin: 0 auto;
    border-bottom: 1px solid #464646;
    overflow: hidden;
}
.footer-new-con .help-list {
    float: left;
    width: 900px;
}
.footer-new-con .help-list .help-item {
    float: left;
    width: 170px;
    padding-right: 10px;
}
.footer-new-con .help-list .help-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}.footer-new-con .help-list .help-item li {
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer-new-con .help-list .help-item li {
    line-height: 28px;
    white-space: nowrap;
}
.footer-new-con .help-list .help-item li a {
    font-size: 14px;
    color: #cccccc;
    width: 100%;
}
a {
    text-decoration: none;
    color: #555;
}
.footer-new-con .help-list .help-item {
    float: left;
    width: 170px;
    padding-right: 10px;
}
.footer-new-con .help-list .help-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 20px;
}
.success-icon {
    background: url(../images/purebox/icon448.png) no-repeat;
    width: 49px;
    height: 49px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
}
h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-family: "microsoft yahei";
    font-weight: normal;
}
.footer-new-con .qr-code {
    float: right;
}
.footer-new-con .qr-code .qr-item-first {
    margin-right: 60px;
}
.footer-new-con .qr-code .qr-item {
    float: left;
    width: 104px;
    padding: 2px;
    background-color: #fff;
}
.footer-new-con .qr-code .qr-item .code_img, .footer-new-con .qr-code .qr-item .code_img img {
    width: 104px;
    height: 104px;
}
.footer-new-con img {
    vertical-align: middle;
    display: inline-block;
}
 fieldset, iframe, img { 
     border: 0; 
 } 
.footer-new-con .qr-code .qr-item .code_txt {
    width: 100%;
    height: 20px;
    background-color: #121212;
    text-align: center;
    color: #fff;
}

.footer-new-bot {
    overflow: hidden;
    padding: 30px 0 20px;
}
.footer-new-con, .footer-new-bot {
    background-color: #262626;
}
.w::after, .w::before {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.footer-new-bot .copyright_links {
    margin-bottom: 10px;
}
.footer-new-bot p {
    text-align: center;
    color: #4c4c4c;
}
.footer-new-bot .copyright_links a {
    color: #888;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #555;
}
.footer-new-bot .copyright_links .spacer {
    overflow: hidden;
    margin: 0 17px;
    width: 1px;
    height: 11px;
    background-color: #444;
    display: inline-block;
}
.footer-new-bot p {
    text-align: center;
    color: #4c4c4c;
}
a {
    text-decoration: none;
    color: #555;
}
.footer-new-bot p {
    text-align: center;
    color: #4c4c4c;
}
.copyright_auth {
    font-size: 12px;
}
.ftx-03 {
    color: #8c8c8c;
}
button, input, select, textarea {
    font-size: 100%;
}
input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}
body, button, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hevetica,\\5b8b体,sans-serif;
        font-weight: normal;
        font-size: 12px;
        font-family: Microsoft YaHei, tahoma, arial, Hevetica, \5b8b体, sans-serif;
    color: #555;
}


.box{width:1360px;height:500px;position:relative;overflow: hidden;}
.box .imgbox{width:1360px;height:500px;}
.box .imgbox img{width:1360px;height:500px;position:absolute;left:1360px;top:0;}
.box img:nth-child(1){left:0;}
.box .btns{}
.btns input{position: absolute;top:250px;width:40px;height:40px;border:none;background:rgba(200,200,200,0.6);color:#fff;font-family: "宋体";}
#left{left:232px;}
#right{right:0;}


#techan{padding-top:30px;overflow: hidden;position: relative;}
#techan .title{height:58px;background-color: #3aab6d;}
#techan .title h3{float:left;font:24px/58px "";text-indent:30px;color:#fff;}
#techan .title a{float:right;width:111px;height:32px;color:#fff;background:#4eb47c;
border:1px solid #a7dabe;font:15px/32px "";text-align: center;margin-top:15px;margin-right:17px;border-bottom:none;}
#techan .t{overflow: hidden;padding-top:12px;}
#techan .t img{width:536;height:316px;}
#techan .t .te{margin:0 10px;}
#techan .d{overflow:hidden;}
#techan .d ul{overflow:hidden;width:110%;}
#techan .d ul li{float:left;width:271px;height:316px;margin:12px 10px 0 0;}

#techan .c{overflow: hidden;}
#techan .c .l{float:left;}
#techan .c .l img{width:264px;height:544px;padding-top:30px;}
#techan .c .r{float:left;width:1096px;}
#techan .c .r li{float:right;width:262px;height:316px;margin:12px 0  0 10px;;}

#techan .b{overflow: hidden;}
#techan .b .l{float:left;}
#techan .b .l img{width:264px;height:544px;padding-top:30px;}
#techan .b .r{float:left;width:1096px;}
#techan .b .r li{float:right;width:262px;height:316px;margin:12px 0  0 10px;;}
#techan .lc{position:fixed;left:-1px;top:50%;}
#techan .lc ul{}
#techan .lc ul li{width:72px;height:30px;background:#9d9d9b;border-bottom: 1px solid #c7c6c6;text-align: center;
line-height: 30px;color:#fff;}
#techan .lc ul li:hover{background:#000;cursor: pointer;}
